<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HORSE IBI - Intent-based Interface</title>
    <link rel="icon" href="/static/img/icon-32x32.png" sizes="32x32" />
    <link rel="icon" href="/static/img/icon-192x192.png" sizes="192x192" />
    <!-- Foundation CSS -->
    <link rel="stylesheet" href="/static/css/foundation.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/app.css">
    
    <!-- Foundation JS -->
    <script src="/static/js/vendor/jquery.js"></script>
    <script src="/static/js/vendor/what-input.js"></script>
    <script src="/static/js/vendor/foundation.js"></script>
    <script src="/static/js/app.js"></script>
</head>