<div class="cell medium-3 large-2 sidebar">
    <div class="sidebar-content">
        <ul class="vertical menu">
            <li><a href="#" class="menu-item active" data-page="dashboard">
                <i class="fas fa-home-alt"></i> Home
            </a></li>
            <li><a href="#" class="menu-item" data-page="intents">
                <i class="fas fa-bullseye"></i> Intent Management
            </a></li>
            <li><a href="#" class="menu-item" data-page="mitigations">
                <i class="fas fa-shield-alt"></i> Mitigation Actions
            </a></li>
        </ul>
    </div>
</div>